@import (less) "../../resources/public/css/w3.css";

/*
 ***********************
 Utility classes
***********************
*/
.card-text-ellipsis{
    width: 100%;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-image {
    background-image: url("../background.jpg");

    width: 100%;
    height: 500px;

    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: -250px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

/*
 ***********************
 General layout
***********************
*/
@background-website-color: white;

html, body {
    height: 100%;
    margin: 0px;
    max-width:1600px;
    font-family: Raleway, sans-serif;
}
body{
    &:extend(.w3-light-grey);
    &:extend(.w3-container);
}

* {
    box-sizing: border-box;
}

/*
 ***********************
 Views
***********************
*/
// Main container - common to all views
#views {
    margin-top: 20px;
}

/*
 ***********************
 Common components
***********************
*/
// Footer
#footer{
    &:extend(.w3-container);
    &:extend(.w3-padding-32);
    &:extend(.w3-dark-grey);
}

// Header
#header button{
    &:extend(.w3-button);
    &:extend(.w3-left);
    &:extend(.w3-hide-large);
    &:extend(.w3-xxlarge);
    &:extend(.w3-hover-text-grey);
}

#header .lang-bn{
    &:extend(.w3-circle);
    &:extend(.w3-right);
    &:extend(.w3-margin);
    &:extend(.w3-hover-opacity);
    cursor: pointer;
    width: 40px;}

#header .avatar{
    &:extend(.w3-circle);
    &:extend(.w3-left);
    &:extend(.w3-margin);
    &:extend(.w3-hover-opacity);
    width: 40px;}

.header-title{
    font-size: 30px;
    margin-bottom: auto;
    margin-top: auto;
}

// Left panel
#left-panel{
    &:extend(.w3-white);
    width: 280px;
    padding: 20px;
    z-index: 5;
}

#left-panel .close-menu{
    &:extend(.w3-hide-large);
    &:extend(.w3-right);
    &:extend(.w3-jumbo);
    &:extend(.w3-padding);
    &:extend(.w3-hover-grey);
}

#left-panel .avatar{
    &:extend(.w3-round);
    width: 45%;
}

#left-panel h4{
}

#left-panel .home-comment{
    &:extend(.w3-text-grey);
}

#left-panel .menu{
    // forced on code-side w3-bar-block
}

.menu-item{
    &:extend(.w3-hover-grey);
    margin: 5px;
}

#left-panel .menu a i{
    &:extend(.w3-margin-right);
}

#left-panel .contact-bar{
    &:extend(.w3-center);
    &:extend(.w3-padding-32);
    letter-spacing: 10px;
}

// Overlay
.overlay {
    z-index: 10;
    cursor: pointer;
}

/*
 ***********************
 View specific
***********************
*/

// About
.about{
}

// Biblio
.biblio-item{
    &:extend(.w3-center);
    max-width: 100%;
    max-height: 500px;
}

.biblio-item p{
    height: 50px;
    background-color: lightgrey;
    overflow: auto;
    margin: 30px;
}

.biblio-item img{
    max-height: 350px;
}

.page-menu{
    &:extend(.w3-center);
    padding: 20px;
}

.page-menu button{
    //Forced w3-button in code
    &:extend(.w3-button);
    &:extend(.w3-dark-grey);
    margin:3px;
}

.page-menu .selected-button{
    &:extend(.w3-red);
}

.page-menu .unselected-button{
    &:extend(.w3-light-grey);
}

// COI
#coi{
    // Forced w3-row-padding
}

#coi h1{
}

#coi #coi-item{
    // Forced w3-third
    &:extend(.w3-third);
}
#coi #coi-item a{
    &:extend(.w3-white);
    &:extend(.w3-center);
    &:extend(.w3-card);
    height: 200px;
    display: block;
}
#coi-item a{
}

#coi #coi-item h2{
}

#coi-item img {
    max-width: 80%;
    max-height: 50px;
}

#coi p {
    padding: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// CV
#cv{
}

// Home
#home-main{
}

#home-main #me-image{
    &:extend(.bg-image);
}

#home-main #me-intro{
    &:extend(.bg-text);
}
