/*
 ***********************
 General layout
***********************
*/
@background-website-color: white;

/* General layout variables */
@left-right-panel-width: 150px;
@default-margin: 10px;

html, body {
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

/*
 ***********************
 Header
***********************
*/
@header-height: 70px;

#header {
    border-bottom-style: solid;
    position: fixed;
    width: 100%;
    background-color: @background-website-color;
    min-height: @header-height;
    transition: 0.2s;
}

.label-header {
    font-size: 4vh;
    margin-left: @default-margin;
}

.flag {
    height: @header-height - 2*@default-margin;
    margin-right: @default-margin;
    margin: 5px;
}

.flag img {
    height: @header-height - 3*@default-margin;
}

/*
 ***********************
 Footer
***********************
*/
#footer {
    border-top-style: dotted;
    background-color: @background-website-color;
    position: fixed;
    bottom: 0px;
    width:100%;
    padding-top: 10px;
    margin-left: 3*@default-margin;
    margin-right: 3*@default-margin;
    min-height: @header-height;
}

.copyright {
    font-family: Arial,
                 "Helvetica Neue",
                 Helvetica,
                 sans-serif;
}

/*
 ***********************
panel
***********************
*/
#app {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: @header-height;
    margin-bottom: @header-height;
    width: 80%;
}
#app .level1{
    position: -webkit-sticky;
    position: sticky;
    background-color: @background-website-color;
    font-color: lightgrey;
    top: @header-height;
}

/*
 ***********************
Bibliography
***********************
*/
#book-image{
    width: 100%;
    padding: @default-margin*3;
}

.resume{
    border: 3px solid grey;
    padding: @default-margin*3;
    margin: auto;
    width: 90%;
    height: 120px;
    overflow: hidden;
}

.biblio-item {
    margin-top: @default-margin;
    margin-bottom: @default-margin;
    padding-left: @default-margin;
    padding-right: @default-margin;
    padding-bottom: @default-margin;
}

.resume p{
    width:100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
