@import (less) "../../resources/public/css/w3.css";
@import (less) "timeline.less";

/*
 ***********************
 Utility classes
***********************
*/
.card-text-ellipsis{
    width: 100%;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-image {
    width: 100%;
    height: 400px;

    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: -150px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

/*
 ***********************
 General layout
***********************
*/
@background-website-color: white;

html, body {
    height: 100%;
    margin: 0px;
    max-width:1600px;
    font-family: Raleway, sans-serif;
}
body{
    &:extend(.w3-light-grey);
    &:extend(.w3-container);
}

a{
    &:extend(.w3-hover-text-grey);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/*
 ***********************
 Views
***********************
*/
// Main container - common to all views
#views {
    margin-top: 20px;
    min-height: 300px;
}

/*
 ***********************
 Common components
***********************
*/
// Footer
#footer{
    &:extend(.w3-container);
    &:extend(.w3-padding-32);
    &:extend(.w3-dark-grey);
}

// Header
header {
    &:extend(.w3-container);
    height:60px;
}
#header .menu-bn{
    &:extend(.w3-button);
    &:extend(.w3-left);
    &:extend(.w3-hide-large);
    &:extend(.w3-xxlarge);
}

#header .login-bn{
    &:extend(.w3-button);
    &:extend(.w3-right);
    &:extend(.w3-xxlarge);
}

#header .lang-bn{
    &:extend(.w3-circle);
    &:extend(.w3-right);
    &:extend(.w3-margin);
    &:extend(.w3-hover-opacity);
    cursor: pointer;
    width: 40px;}

#header .avatar{
    &:extend(.w3-circle);
    &:extend(.w3-left);
    &:extend(.w3-hide-large);
    &:extend(.w3-hover-opacity);
    &:extend(.w3-center);
    width: 40px;}

#header .header-title{
    font-size: 30px;
    margin-left: 30px;
}

// Left panel
#left-panel{
    &:extend(.w3-white);
    &:extend(.w3-bar-block);
    width: 180px;
    padding: 1px;
    z-index: 5;
}

#left-panel .close-button{
    &:extend(.w3-hide-large);
    &:extend(.w3-display-topright);
    &:extend(.w3-xlarge);
    margin-right: 5px;
}

#left-panel .avatar{
    &:extend(.w3-round);
    &:extend(.w3-center);
    width: 40%;
}

#left-panel .home-comment{
    &:extend(.w3-text-grey);
}

#left-panel .menu{
    &:extend(.w3-bar-block);
}

#left-panel .menu a{
    &:extend(.w3-bar-item);
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;}

#left-panel .menu a i{
    &:extend(.w3-fa);
    &:extend(.w3-fw);
    padding-right:10px;}

#left-panel .contact-bar{
    &:extend(.w3-center);
    &:extend(.w3-padding-32);
    letter-spacing: 20px;
}

// Home

@home-size: 10vw;
@home-spread: @home-size*0.7;

#home th{
    width: 33%;}

.home-image{
    width: 15vw;}

#home-three-pilars{
    &:extend(.w3-display-middle);
    width: @home-size/2;
}

#home-sc{
    &:extend(.w3-display-middle);
    width: @home-size;
    transform : translate(@home-spread - @home-size / 2, @home-spread - @home-size/2);
}

#home-it{
    &:extend(.w3-display-middle);
    width: @home-size;
    transform : translate(-@home-size/2, -@home-spread - @home-size/2);
}

#home-math{
    &:extend(.w3-display-middle);
    width: @home-size;
    transform : translate(-@home-spread - @home-size/2, @home-spread - @home-size/2);
}

// Overlay
.overlay {
    z-index: 10;
    cursor: pointer;
}

/*
 ***********************
 View specific
***********************
*/

// About
.about{
}

// Biblio
.biblio-item{
    &:extend(.w3-center);
    max-width: 100%;
    max-height: 500px;
}

.biblio-item p{
    height: 50px;
    background-color: lightgrey;
    overflow: auto;
    margin: 30px;
}

.biblio-item img{
    max-height: 350px;
}

.page-menu{
    &:extend(.w3-center);
    padding: 20px;
}

.page-menu button{
    //Forced w3-button in code
    &:extend(.w3-button);
    &:extend(.w3-dark-grey);
    margin:3px;
}

.page-menu .selected-button{
    &:extend(.w3-red);
}

.page-menu .unselected-button{
    &:extend(.w3-light-grey);
}

// Connection
.connection-panel{
    &:extend(.w3-center );
    &:extend(.w3-panel);
    &:extend(.w3-round-xlarge);
    background-color: white;
    margin:auto;
    width:40%;
    padding: 20px;
}

.form label{
    &:extend(.w3-half);
}

.connection-panel input{
    &:extend(.w3-half);
}

.bns{
    &:extend(.w3-bar);
    &:extend(.w3-padding-16);
}

.bns a {
    &:extend(.w3-bar-item);
    &:extend(.w3-button);
    &:extend(.w3-black);
    &:extend(.w3-margin);
}

// COI
#coi #coi-item{
    &:extend(.w3-third);
    &:extend(.w3-padding);
    &:extend(.w3-container);
}
#coi #coi-item a{
    &:extend(.w3-white);
    &:extend(.w3-center);
    &:extend(.w3-card);
    height: 200px;
    display: block;
}
#coi-item img {
    max-width: 80%;
    max-height: 50px;
}

#coi p {
    padding: 20px;
}

// CV
#cv{
}

#cv .timeline__event__description li{
    padding-left: 0px;
}

#cv .timeline__event__description .desc-item{
    width: 94%;
    padding: 0px 10px;
}
#cv .timeline__event__description i{
    padding: 20px 0px 0px 0px;
}

.cv-button{
    cursor: pointer;
}

.timeline__event__icon i {
    margin-left: -15px;
}
